body {
  background-image: url("cloud2.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  margin: 50px auto;
  font-family: "Pacifico", cursive;
  font-size: 50px;
}

ul {
  list-style: none;
}
.currentIcon {
  width: 150px;
}
.degreeUnit a {
  text-decoration: none;
  cursor: default;
}
.active {
  color: #000000;
}
.temperature {
  margin: 0 auto;
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  font-weight: 800;
  line-height: 1;
}
.weatherDescri {
  margin: 20px auto;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  font-weight: 500;
  line-height: 1;
}
.currentWeather {
  text-align: left;
}
.container {
  background: linear-gradient(
    to bottom,
    rgb(243, 177, 157, 60%),
    rgba(133, 191, 245, 0.6)
  );

  display: block;
  margin: 70px auto 0 auto;
  padding: 30px 20px;
  text-align: center;
  max-width: 600px;
  font-family: "Courier New", Courier, monospace;
  border-radius: 20px;
  box-shadow: 1px 1px 20px #6e6e6e;
}
.cityinfo {
  background: #ffffff00;
  border: solid 1px #000000;
}
.searchbutton {
  background: #ffffff00;
  border: solid 1px #000000;
  transition: all 200ms ease-in-out;
}
.autobutton {
  background: #ffffff00;
  border: solid 1px #000000;
  transition: all 200ms ease-in-out;
}
.row {
  margin: 30px auto;
}
.updateTime {
  font-size: 10px;
}
.developer {
  display: block;
  text-align: center;
  margin: 0 auto 70px auto;
}

.searchbutton:hover {
  background: #000000;
  border: solid 1px #000000;
  color: rgb(242, 112, 156);
}
.autobutton:hover {
  background: #000000;
  border: solid 1px #000000;
  color: rgb(242, 112, 156);
}
